# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

#ignore db
init.sql
/python/src/auth/manifests/secret.yaml


#ignore venv
venv/

